# Exploración de los Datos y Creación DataFrame

1. [Exploración de los Datos Disponibles](#exploracion-de-los-datos-disponibles)
<br></br>
1.1 [Exploración de la Estructura de los Archivos](#exploracion-de-la-extructura-de-los-archivos)
<br></br>
2. [Creación del DataFrame Final](#creacion-dataframe-final)
<br></br>
2.1 [Eliminación de Registros con Fecha Superior al '2019-04-01'](#eliminacion-de-registros-con-fecha-superior)
<br></br>
2.2 [Creación del Campo 'peso_final'](#creacion-del-campo-peso_final)
<br></br>
2.3 [Cambio del Nombre de las Variables](#cambio-del-nombre-de-las-variables)
<br></br>
3. [Creación de Archivo con Formato pickle del DataFrame Final](#creacion-del-archivo-con-formato-pickle-del-dataframe-final)
<br></br>
4. [Conclusiones](#conclusiones)

In [1]:
%load_ext watermark
%watermark

2019-05-27T12:50:43+02:00

CPython 3.6.8
IPython 6.2.1

compiler   : GCC 7.3.0
system     : Linux
release    : 4.13.0-46-generic
machine    : x86_64
processor  : x86_64
CPU cores  : 2
interpreter: 64bit

## 1. <a id='exploracion-de-los-datos-disponibles'>Exploración de los Datos Disponibles</a>

In [2]:
!ls ../Data/Original-Data/

2017.05.csv  2017.09.csv  2018.01.csv  2018.05.csv  2018.09.csv  2019.01.csv
2017.06.csv  2017.10.csv  2018.02.csv  2018.06.csv  2018.10.csv  2019.02.csv
2017.07.csv  2017.11.csv  2018.03.csv  2018.07.csv  2018.11.csv  2019.03.csv
2017.08.csv  2017.12.csv  2018.04.csv  2018.08.csv  2018.12.csv

In [3]:
!ls -sh ../Data/Original-Data/

total 349M
16M 2017.05.csv  16M 2017.11.csv  17M 2018.05.csv  18M 2018.11.csv
17M 2017.06.csv  16M 2017.12.csv  17M 2018.06.csv  17M 2018.12.csv
16M 2017.07.csv  16M 2018.01.csv  15M 2018.07.csv  18M 2019.01.csv
13M 2017.08.csv  14M 2018.02.csv  15M 2018.08.csv  15M 2019.02.csv
14M 2017.09.csv  14M 2018.03.csv  14M 2018.09.csv  16M 2019.03.csv
14M 2017.10.csv  15M 2018.04.csv  17M 2018.10.csv

Se trata de:
* 23 archivos en los que cada uno representa un mes de datos
* Desde 05/2017 hasta 03/2019
* 349MB en total

### 1.1 <a id='exploracion-de-la-extructura-de-los-archivos'>Exploración de la Estructura de los Archivos</a>

In [4]:
import os                           #Funcionalides para interactuar con el sistema de archivos
import pandas as pd                 #Carga de Pandas
import datetime                     #Módulo para el tratamiento de fechas
import numpy as np                  #Carga de Numpy

In [5]:
list_of_files = os.listdir('../Data/Original-Data/')

list_of_files.sort()
list_of_files

['2017.05.csv',
 '2017.06.csv',
 '2017.07.csv',
 '2017.08.csv',
 '2017.09.csv',
 '2017.10.csv',
 '2017.11.csv',
 '2017.12.csv',
 '2018.01.csv',
 '2018.02.csv',
 '2018.03.csv',
 '2018.04.csv',
 '2018.05.csv',
 '2018.06.csv',
 '2018.07.csv',
 '2018.08.csv',
 '2018.09.csv',
 '2018.10.csv',
 '2018.11.csv',
 '2018.12.csv',
 '2019.01.csv',
 '2019.02.csv',
 '2019.03.csv']

Veamos lo que contiene el archivo más antiguo:

In [6]:
!head ../Data/Original-Data/2017.05.csv

¿Tienen todos los archivos una estructura similar?

In [7]:
directory = '../Data/Original-Data/'

for file in list_of_files:
    df_temp = pd.read_csv(directory + file,sep = ";",decimal = ',',encoding = 'utf-8')
    print('El archivo {} tiene la forma {} y contiene {}% NaN\'s'.format(
          file,
          df_temp.shape,
          round(df_temp.isnull().sum().sum() / (df_temp.shape[0] * df_temp.shape[1]),2)
          ))

El archivo 2017.05.csv tiene la forma (576840, 6) y contiene 0.08% NaN's
El archivo 2017.06.csv tiene la forma (606320, 6) y contiene 0.08% NaN's
El archivo 2017.07.csv tiene la forma (574875, 6) y contiene 0.07% NaN's
El archivo 2017.08.csv tiene la forma (480047, 6) y contiene 0.07% NaN's
El archivo 2017.09.csv tiene la forma (486775, 6) y contiene 0.07% NaN's
El archivo 2017.10.csv tiene la forma (504068, 6) y contiene 0.06% NaN's
El archivo 2017.11.csv tiene la forma (574014, 6) y contiene 0.06% NaN's
El archivo 2017.12.csv tiene la forma (566078, 6) y contiene 0.06% NaN's
El archivo 2018.01.csv tiene la forma (569825, 6) y contiene 0.05% NaN's
El archivo 2018.02.csv tiene la forma (471434, 6) y contiene 0.05% NaN's
El archivo 2018.03.csv tiene la forma (494267, 6) y contiene 0.05% NaN's
El archivo 2018.04.csv tiene la forma (522756, 6) y contiene 0.05% NaN's
El archivo 2018.05.csv tiene la forma (593495, 6) y contiene 0.06% NaN's
El archivo 2018.06.csv tiene la forma (592324, 6) y contiene 0.06% NaN's
El archivo 2018.07.csv tiene la forma (520008, 6) y contiene 0.04% NaN's
El archivo 2018.08.csv tiene la forma (520656, 6) y contiene 0.06% NaN's
El archivo 2018.09.csv tiene la forma (483175, 6) y contiene 0.05% NaN's
El archivo 2018.10.csv tiene la forma (592404, 6) y contiene 0.05% NaN's
El archivo 2018.11.csv tiene la forma (631505, 6) y contiene 0.05% NaN's
El archivo 2018.12.csv tiene la forma (598285, 6) y contiene 0.06% NaN's
El archivo 2019.01.csv tiene la forma (625837, 6) y contiene 0.04% NaN's
El archivo 2019.02.csv tiene la forma (539191, 6) y contiene 0.07% NaN's
El archivo 2019.03.csv tiene la forma (555371, 6) y contiene 0.05% NaN's

Trabajamos con el archivo 2017.05.csv. Creamos el primer dataframe y obtenemos información de las variables.

In [8]:
df_temp = pd.read_csv('../Data/Original-Data/2017.05.csv',sep = ";",decimal = ',',encoding = 'utf-8')

df_temp.head()

,Startclock Day,Product Code,Origin Country,Destination Country,Weight,Volumetric Weight
0,2017-05-02,U,ES,DE,0.14,NaN
1,2017-05-02,P,ES,CH,2.35,2.54
2,2017-05-02,T,ES,US,0.08,NaN
3,2017-05-02,P,ES,US,0.46,0.44
4,2017-05-02,U,ES,GB,0.14,NaN

In [9]:
df_temp.dtypes

Startclock Day          object
Product Code            object
Origin Country          object
Destination Country     object
Weight                 float64
Volumetric Weight      float64
dtype: object

In [10]:
print('El archivo 2017.05.csv tiene los siguientes porcentajes de NaN\'s por columnas:\n\
      Startclock Day: {}%\n\
      Product Code: {}%\n\
      Origin Country: {}%\n\
      Destination Country: {}%\n\
      Weight: {}%\n\
      Volumetric Weight: {}%\n\n'.format(round(df_temp['Startclock Day'].isnull().sum() / len(df_temp.index),2),
                                         round(df_temp['Product Code'].isnull().sum() / len(df_temp.index),2),
                                         round(df_temp['Origin Country'].isnull().sum() / len(df_temp.index),2),
                                         round(df_temp['Destination Country'].isnull().sum() / len(df_temp.index),2),
                                         round(df_temp['Weight'].isnull().sum() / len(df_temp.index),2),
                                         round(df_temp['Volumetric Weight'].isnull().sum() / len(df_temp.index),2)
                                         ))

El archivo 2017.05.csv tiene los siguientes porcentajes de NaN's por columnas:
      Startclock Day: 0.0%
      Product Code: 0.0%
      Origin Country: 0.0%
      Destination Country: 0.0%
      Weight: 0.0%
      Volumetric Weight: 0.46%

Porcentaje de NaN's de todos los archivos por columnas.

In [11]:
list_of_files = os.listdir('../Data/Original-Data/')
list_of_files.sort()

directory = '../Data/Original-Data/'

for file in list_of_files:
    df_temp = pd.read_csv(directory + file,sep = ";",decimal = ',',encoding = 'utf-8')
    print('El archivo {} tiene los siguientes porcentajes de NaN\'s por columnas:\n\
      Startclock Day: {}%\n\
      Product Code: {}%\n\
      Origin Country: {}%\n\
      Destination Country: {}%\n\
      Weight: {}%\n\
      Volumetric Weight: {}%\n\n'.format(file,
                                         round(df_temp['Startclock Day'].isnull().sum() / len(df_temp.index),2),
                                         round(df_temp['Product Code'].isnull().sum() / len(df_temp.index),2),
                                         round(df_temp['Origin Country'].isnull().sum() / len(df_temp.index),2),
                                         round(df_temp['Destination Country'].isnull().sum() / len(df_temp.index),2),
                                         round(df_temp['Weight'].isnull().sum() / len(df_temp.index),2),
                                         round(df_temp['Volumetric Weight'].isnull().sum() / len(df_temp.index),2)
                                         ))

El archivo 2017.05.csv tiene los siguientes porcentajes de NaN's por columnas:
      Startclock Day: 0.0%
      Product Code: 0.0%
      Origin Country: 0.0%
      Destination Country: 0.0%
      Weight: 0.0%
      Volumetric Weight: 0.46%


El archivo 2017.06.csv tiene los siguientes porcentajes de NaN's por columnas:
      Startclock Day: 0.0%
      Product Code: 0.0%
      Origin Country: 0.0%
      Destination Country: 0.0%
      Weight: 0.0%
      Volumetric Weight: 0.46%


El archivo 2017.07.csv tiene los siguientes porcentajes de NaN's por columnas:
      Startclock Day: 0.0%
      Product Code: 0.0%
      Origin Country: 0.0%
      Destination Country: 0.0%
      Weight: 0.0%
      Volumetric Weight: 0.45%


El archivo 2017.08.csv tiene los siguientes porcentajes de NaN's por columnas:
      Startclock Day: 0.0%
      Product Code: 0.0%
      Origin Country: 0.0%
      Destination Country: 0.0%
      Weight: 0.0%
      Volumetric Weight: 0.44%


El archivo 2017.09.csv tiene los siguientes porcentajes de NaN's por columnas:
      Startclock Day: 0.0%
      Product Code: 0.0%
      Origin Country: 0.0%
      Destination Country: 0.0%
      Weight: 0.0%
      Volumetric Weight: 0.39%


El archivo 2017.10.csv tiene los siguientes porcentajes de NaN's por columnas:
      Startclock Day: 0.0%
      Product Code: 0.0%
      Origin Country: 0.0%
      Destination Country: 0.0%
      Weight: 0.0%
      Volumetric Weight: 0.37%


El archivo 2017.11.csv tiene los siguientes porcentajes de NaN's por columnas:
      Startclock Day: 0.0%
      Product Code: 0.0%
      Origin Country: 0.0%
      Destination Country: 0.0%
      Weight: 0.0%
      Volumetric Weight: 0.37%


El archivo 2017.12.csv tiene los siguientes porcentajes de NaN's por columnas:
      Startclock Day: 0.0%
      Product Code: 0.0%
      Origin Country: 0.0%
      Destination Country: 0.0%
      Weight: 0.0%
      Volumetric Weight: 0.36%


El archivo 2018.01.csv tiene los siguientes porcentajes de NaN's por columnas:
      Startclock Day: 0.0%
      Product Code: 0.0%
      Origin Country: 0.0%
      Destination Country: 0.0%
      Weight: 0.0%
      Volumetric Weight: 0.32%


El archivo 2018.02.csv tiene los siguientes porcentajes de NaN's por columnas:
      Startclock Day: 0.0%
      Product Code: 0.0%
      Origin Country: 0.0%
      Destination Country: 0.0%
      Weight: 0.0%
      Volumetric Weight: 0.31%


El archivo 2018.03.csv tiene los siguientes porcentajes de NaN's por columnas:
      Startclock Day: 0.0%
      Product Code: 0.0%
      Origin Country: 0.0%
      Destination Country: 0.0%
      Weight: 0.0%
      Volumetric Weight: 0.3%


El archivo 2018.04.csv tiene los siguientes porcentajes de NaN's por columnas:
      Startclock Day: 0.0%
      Product Code: 0.0%
      Origin Country: 0.0%
      Destination Country: 0.0%
      Weight: 0.0%
      Volumetric Weight: 0.32%


El archivo 2018.05.csv tiene los siguientes porcentajes de NaN's por columnas:
      Startclock Day: 0.0%
      Product Code: 0.0%
      Origin Country: 0.0%
      Destination Country: 0.0%
      Weight: 0.0%
      Volumetric Weight: 0.36%


El archivo 2018.06.csv tiene los siguientes porcentajes de NaN's por columnas:
      Startclock Day: 0.0%
      Product Code: 0.0%
      Origin Country: 0.0%
      Destination Country: 0.0%
      Weight: 0.0%
      Volumetric Weight: 0.36%


El archivo 2018.07.csv tiene los siguientes porcentajes de NaN's por columnas:
      Startclock Day: 0.0%
      Product Code: 0.0%
      Origin Country: 0.0%
      Destination Country: 0.0%
      Weight: 0.0%
      Volumetric Weight: 0.22%


El archivo 2018.08.csv tiene los siguientes porcentajes de NaN's por columnas:
      Startclock Day: 0.0%
      Product Code: 0.0%
      Origin Country: 0.0%
      Destination Country: 0.0%
      Weight: 0.0%
      Volumetric Weight: 0.34%


El archivo 2018.09.csv tiene los siguientes porcentajes de NaN's por columnas:
      Startclock Day: 0.0%
      Product Code: 0.0%
      Origin Country: 0.0%
      Destination Country: 0.0%
      Weight: 0.0%
      Volumetric Weight: 0.31%


El archivo 2018.10.csv tiene los siguientes porcentajes de NaN's por columnas:
      Startclock Day: 0.0%
      Product Code: 0.0%
      Origin Country: 0.0%
      Destination Country: 0.0%
      Weight: 0.0%
      Volumetric Weight: 0.29%


El archivo 2018.11.csv tiene los siguientes porcentajes de NaN's por columnas:
      Startclock Day: 0.04%
      Product Code: 0.0%
      Origin Country: 0.0%
      Destination Country: 0.0%
      Weight: 0.0%
      Volumetric Weight: 0.27%


El archivo 2018.12.csv tiene los siguientes porcentajes de NaN's por columnas:
      Startclock Day: 0.05%
      Product Code: 0.0%
      Origin Country: 0.0%
      Destination Country: 0.0%
      Weight: 0.0%
      Volumetric Weight: 0.28%


El archivo 2019.01.csv tiene los siguientes porcentajes de NaN's por columnas:
      Startclock Day: 0.0%
      Product Code: 0.0%
      Origin Country: 0.0%
      Destination Country: 0.0%
      Weight: 0.0%
      Volumetric Weight: 0.26%


El archivo 2019.02.csv tiene los siguientes porcentajes de NaN's por columnas:
      Startclock Day: 0.13%
      Product Code: 0.0%
      Origin Country: 0.0%
      Destination Country: 0.0%
      Weight: 0.0%
      Volumetric Weight: 0.27%


El archivo 2019.03.csv tiene los siguientes porcentajes de NaN's por columnas:
      Startclock Day: 0.0%
      Product Code: 0.0%
      Origin Country: 0.0%
      Destination Country: 0.0%
      Weight: 0.0%
      Volumetric Weight: 0.29%

## 2. <a id='creacion-del-dataframe-final'>Creación del DataFrame Final</a>

Agrupamiento de todos los datos en un único Dataframe. Y sustitución de NaN's:
* Variable 'Startclock Day'. Utilizamos el método de la fecha del registro anterior y convertimos a formato de fecha.
* Variable 'Weight'. Sustituimos por el valor mínimo a facturar (0.5) y convertimos en float.
* Variable 'Volumetric_Weight'. Sustituimos por el valor mínimo a facturar (0.5) y convertimos en float.

In [12]:
df = pd.DataFrame()

list_of_files = os.listdir('../Data/Original-Data/')
list_of_files.sort()

directory = '../Data/Original-Data/'

for file in list_of_files:
    print('Cargando fichero: ',file)
    df_temp = pd.read_csv(directory + file,sep = ";",decimal = ',',encoding = 'utf-8')
    df_temp['Startclock Day'] = df_temp['Startclock Day'].fillna(method = 'ffill')
    df_temp['Startclock Day'] = pd.to_datetime(df_temp['Startclock Day'])
    df_temp['Weight'] = df_temp['Weight'].fillna('0.5')
    df_temp['Weight'] = df_temp['Weight'].astype(float)
    df_temp['Volumetric Weight'] = df_temp['Volumetric Weight'].fillna('0.5')
    df_temp['Volumetric Weight'] = df_temp['Volumetric Weight'].astype(float)
    df = pd.concat([df,df_temp])

Cargando fichero:  2017.05.csv
Cargando fichero:  2017.06.csv
Cargando fichero:  2017.07.csv
Cargando fichero:  2017.08.csv
Cargando fichero:  2017.09.csv
Cargando fichero:  2017.10.csv
Cargando fichero:  2017.11.csv
Cargando fichero:  2017.12.csv
Cargando fichero:  2018.01.csv
Cargando fichero:  2018.02.csv
Cargando fichero:  2018.03.csv
Cargando fichero:  2018.04.csv
Cargando fichero:  2018.05.csv
Cargando fichero:  2018.06.csv
Cargando fichero:  2018.07.csv
Cargando fichero:  2018.08.csv
Cargando fichero:  2018.09.csv
Cargando fichero:  2018.10.csv
Cargando fichero:  2018.11.csv
Cargando fichero:  2018.12.csv
Cargando fichero:  2019.01.csv
Cargando fichero:  2019.02.csv
Cargando fichero:  2019.03.csv

In [13]:
df = df.sort_values(by = 'Startclock Day')

df = df.reset_index(drop = True)

In [14]:
df.head()

,Startclock Day,Product Code,Origin Country,Destination Country,Weight,Volumetric Weight
0,2017-05-01,B,ES,NO,1.80,3.584
1,2017-05-01,B,ES,NO,0.90,2.242
2,2017-05-01,B,ES,NO,0.35,1.009
3,2017-05-01,B,ES,NO,1.15,2.130
4,2017-05-01,B,ES,NO,0.45,0.996

### 2.1 <a id='eliminacion-de-registros-con-fecha-superior'>Eliminación de Registros con Fecha Superior al '2019-04-01'</a>

In [15]:
df.tail()

,Startclock Day,Product Code,Origin Country,Destination Country,Weight,Volumetric Weight
12679545,2019-12-03,P,ES,AR,0.64,0.50
12679546,2019-12-03,P,ES,MX,6.60,6.42
12679547,2019-12-03,P,ES,CN,0.16,0.21
12679548,2019-12-03,P,ES,SY,0.46,0.03
12679549,2019-12-03,D,ES,CV,0.17,0.18

Eliminamos envíos con fechas superiores al '2019-04-01', puesto que son envíos recolocados y distorsionan la información que podamos obtener del dataset.

In [16]:
df = df[df['Startclock Day'] <= '2019-04-01']

In [17]:
df.tail()

,Startclock Day,Product Code,Origin Country,Destination Country,Weight,Volumetric Weight
12486110,2019-04-01,P,ES,KR,3.02,2.178
12486111,2019-04-01,P,ES,TR,1.38,1.594
12486112,2019-04-01,P,ES,AR,2.96,1.945
12486113,2019-04-01,P,ES,PE,5.50,2.520
12486114,2019-04-01,P,ES,JP,0.38,0.525

### 2.2 <a id='creacion-del-campo-peso_final'>Creación del Campo 'peso_final'</a>

Para la facturación del envío se tiene en cuenta el valor de 'Weight' y de 'Volumetric Weight' y se elige el mayor de ambos. Esto es lo que va a determinar el campo 'peso_final'.

In [18]:
df['peso_final'] = np.where(df['Weight'] > df['Volumetric Weight'],df['Weight'],df['Volumetric Weight'])

In [19]:
df.head()

,Startclock Day,Product Code,Origin Country,Destination Country,Weight,Volumetric Weight,peso_final
0,2017-05-01,B,ES,NO,1.80,3.584,3.584
1,2017-05-01,B,ES,NO,0.90,2.242,2.242
2,2017-05-01,B,ES,NO,0.35,1.009,1.009
3,2017-05-01,B,ES,NO,1.15,2.130,2.130
4,2017-05-01,B,ES,NO,0.45,0.996,0.996

### 2.3 <a id='cambio-del-nombre-de-las-variables'>Cambio del Nombre de las Variables</a>

In [20]:
df.columns = ['Fecha_envio', 
              'Product_code', 
              'Origen',
              'Destino', 
              'Peso', 
              'Volumen',
              'Peso_final']

In [21]:
df.head()

  Fecha_envio Product_code Origen Destino  Peso  Volumen  Peso_final
0  2017-05-01            B     ES      NO  1.80    3.584       3.584
1  2017-05-01            B     ES      NO  0.90    2.242       2.242
2  2017-05-01            B     ES      NO  0.35    1.009       1.009
3  2017-05-01            B     ES      NO  1.15    2.130       2.130
4  2017-05-01            B     ES      NO  0.45    0.996       0.996

In [22]:
df.shape

(12486115, 7)

In [23]:
df.dtypes

Fecha_envio     datetime64[ns]
Product_code            object
Origen                  object
Destino                 object
Peso                   float64
Volumen                float64
Peso_final             float64
dtype: object

## 3. <a id='creacion-del-archivo-con-formato-pickle-del-dataframe-final'>Creación de Archivo con Formato pickle del DataFrame Final</a>

In [24]:
df.to_pickle('../Data/01.-Exploracion-de-los-Datos-y-Creacion-DataFrame.pkl')

In [25]:
!ls -l --block-size=M ../Data/01.-Exploracion-de-los-Datos-y-Creacion-DataFrame.pkl

-rw-r--r-- 1 dsc dsc 586M may 27 13:00 ../Data/01.-Exploracion-de-los-Datos-y-Creacion-Dataframe.pkl

## 4. <a id='conclusiones'>Conclusiones</a>

Los archivos de los datos originales tienen las siguientes características:
* 23 archivos en los que cada uno representa un mes de datos
* Desde 05/2017 hasta 03/2019
* 349MB en total

Después de algunas acciones de 'Feature Engineering' el DataFrame final tiene las siguientes características:
* 12486115 de registros y 7 variables
* Ocupa 586MB
* Visualmente su estructura es:

In [26]:
df.head()

  Fecha_envio Product_code Origen Destino  Peso  Volumen  Peso_final
0  2017-05-01            B     ES      NO  1.80    3.584       3.584
1  2017-05-01            B     ES      NO  0.90    2.242       2.242
2  2017-05-01            B     ES      NO  0.35    1.009       1.009
3  2017-05-01            B     ES      NO  1.15    2.130       2.130
4  2017-05-01            B     ES      NO  0.45    0.996       0.996